.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    
}
h2 {
    color: #d10063;
    font-weight: bold;
}
.btn-submit {
    background-color: #d10063;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
.btn-submit:hover {
    background-color: #b00052;
}